
@media screen and (max-width: 576px) {

    html { font-size: 13px; }

    h1, h4, h5, h6 {
        font-weight: 700;
        color: rgba(41, 12, 78, 0.8);
    }

    .btn-primary {
        
        width: 70%;
        padding: 10px;
    }

    .btn-success{
        width: 70%;
        padding: 10px; 
   }

   .range{
       height: 50px;
    width: 350px;
}

.wrapper{
    width: 300px;
    
}


.wrapper .accordio_wrap .accordio-header{
   
    height: 60px;
    
}

.wrapper .accordio_wrap .accordio-header:before,
.wrapper .accordio_wrap .accordio-header:after
{
  display: none;
  
}

.progess ul li .fa::after{
  display: none;
}

.progess ul li .fa{
   
    width: 25px;
    height: 25px;   
}

.upload{
    height: 400px;    
   padding: auto; 
   margin: auto;
}

    footer { padding: 100px 15px 80px 15px; }
}

@media screen and ((max-width: 767px) and (min-width: 577px)) {

    html { font-size: 14px; }

    h1, h4, h5, h6 {
        font-weight: 700;
        color: rgba(41, 12, 78, 0.8);
    }
   
    .btn-primary {
        
        width: 70%;
        padding: 10px;       
    }

    .range{
        height: 50px;
        width: 400px;
    }

    .progess ul li .fa::after{
        display: none;
      }

      .progess ul li .fa{
   
        width: 25px;
        height: 25px;   
    }

    footer {
        padding: 100px 15px 80px 15px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    
    html { font-size: 15px; }

    h1, h4, h5, h6 {
        font-weight: 800;
        color: rgba(41, 12, 78, 0.8);
    }

    
    .btn-primary {
        
        width: 50%;
        padding: 10px;
      
        
    }

    .range{
        height: 60px;
        width: 450px;
    }

    .btn-success{
        width: 50%;
        padding: 15px; 
   }
   .progess ul li .fa::after{
    display: none;
  }
  .progess ul li .fa{
   
    width: 25px;
    height: 25px;   
}

    footer {
        padding: 100px 0px 80px 0px;
    }
}