
@media screen and (max-width: 576px) {

    html { font-size: 13px; }

    h1, h4, h5, h6 {
        font-weight: 700;
        color: rgba(41, 12, 78, 0.8);
    }

    .custom-nav { display: none; }
    .custom-shape-1 svg { height: 7.1rem; }
    .custom-shape-2 svg { height: 6.1rem; }

    .nav-menu { display: none; }

    .mobile-menu { display: block; }

    .mobile-menu a { float: left; }

    .mobile-menu a img {
        height: 40px;
        width: auto;
    }

    label {
        position: relative;
        float: right;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle { display: none; }
    
    .menu { 
        position: absolute;
        width: 6rem;
        height: auto;
        display: none; 
        top: 65%;
        right: 10%;
        float: right;
        padding: 5px;
        background-color: #ffffff; }

    .menu a {
        display: block;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 5px;
        color: #7a5dfecc;
    }

    #toggle:checked + .menu {
        display: block;
    }

    .section-header h1 {
        font-size: 2.3em;
        text-shadow: none;
    }

    .section-header p {
        font-size: 1.1em;
    }

    .hero-content { 
        padding: 0px 20px 80px; 
    }

    #content { order: 2; }
    #image { order: 1; }

    .hero-content h1 {
        font-size: 2.4em;
        padding-top: 180px;
        padding-bottom: 0px;
        text-shadow: none;
    }

    .hero-des p {
        font-size: 1.2em;
        font-weight: 500;
    }

    .start-trial { text-align: center; }

    .trial-email { margin-bottom: 15px; }

    .trial-btn { 
        text-align: center;
        margin-left: 0px;
     }

    .features-section { padding-bottom: 80px; }

    .features-promo { padding: 30px; }

    .feature-content { padding: 0px 10px 0px 20px; }

    .feature-card {
        padding: 15px 15px 10px 15px;
        padding-left: 45px;
    }

    .feature-des h5 { font-weight: 600; }

    .feature-des p {
        font-size: 1.1em;
        font-weight: 500;
    }

    .pricing-section {
        padding-top: 80px;
        padding-bottom: 180px;
    }

    .pricing-card { margin-top: 0px; }

    .pricing-details { box-shadow: 0px 0px 40px #00000022; }
    .pricing-details:hover { box-shadow: 0px 0px 20px #00000033; }
    .pricing-details::before { background-color: #15b290; }

    .pricing-1 { margin-top: 20px; }

    .pricing-2::before { background-color: #1d1d3f; }

    .card-title { 
        font-size: 1.8em;
        color: #ffffff; 
    }

    .price-btn { background-color: #15b290; }

    .contactus { 
        padding: 40px 15px; 
        padding-top: 0px;
    }

    .top-padding { padding-top: 0px; }

    .loaction-map { 
        padding: 0px 15px;
        padding-top: 50px;
     }

    .mapouter, #gmap_canvas, .gmap_canvas {
        height: 18rem;
        width: 100%;
    }

    footer { padding: 100px 15px 80px 15px; }
}

@media screen and ((max-width: 767px) and (min-width: 577px)) {

    html { font-size: 14px; }

    h1, h4, h5, h6 {
        font-weight: 700;
        color: rgba(41, 12, 78, 0.8);
    }

    .custom-nav { display: none; }
    .custom-shape-1 svg { height: 7.1rem; }
    .custom-shape-2 svg { height: 6.1rem; }

    .nav-menu { display: none; }

    .mobile-menu { display: block; }

    .mobile-menu a { float: left; }

    .mobile-menu a img {
        height: 45px;
        width: auto;
    }

    label {
        position: relative;
        float: right;
        font-size: 2.3em;
        cursor: pointer;
    }

    #toggle { display: none; }
    
    .menu { 
        position: absolute;
        width: 6rem;
        height: auto;
        display: none; 
        top: 67%;
        right: 6%;
        float: right;
        padding: 5px;
        background-color: #ffffff; }

    .menu a {
        display: block;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 5px;
        color: #7a5dfecc;
    }

    #toggle:checked + .menu {
        display: block;
    }

    .section-header h1 {
        font-size: 2.3em;
        text-shadow: none;
    }

    .section-header p {
        font-size: 1em;
    }

    .hero-content { 
        padding: 0px 20px 80px; 
    }

    #content { order: 2; }
    #image { order: 1; }

    .hero-content h1 {
        font-size: 2.4em;
        padding-top: 180px;
        padding-bottom: 0px;
        text-shadow: none;
    }

    .hero-des p {
        font-size: 1.2em;
        font-weight: 500;
    }

    .features-section { padding-bottom: 80px; }

    .feature-des h5 { font-weight: 600; }

    .feature-des p {
        font-size: 1.1em;
        font-weight: 500;
    }

    .pricing-section {
        padding-top: 80px;
        padding-bottom: 180px;
    }

    .pricing-card { margin-top: 0px; }

    .pricing-details { box-shadow: 0px 0px 40px #00000022; }
    .pricing-details:hover { box-shadow: 0px 0px 20px #00000033; }
    .pricing-details::before { background-color: #15b290; }

    .pricing-1 { margin-top: 20px; }

    .pricing-2::before { background-color: #1d1d3f; }

    .card-title { 
        font-size: 1.8em;
        color: #ffffff; 
    }

    .price-btn { background-color: #15b290; }

    .contactus { 
        padding: 40px 15px; 
        padding-top: 0px;
    }

    .top-padding { padding-top: 0px; }

    .loaction-map { 
        padding: 0px 15px;
        padding-top: 50px;
    }

    .mapouter, #gmap_canvas, .gmap_canvas {
        height: 16.5rem;
        width: 100%;
    }

    footer {
        padding: 100px 15px 80px 15px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    
    html { font-size: 15px; }

    h1, h4, h5, h6 {
        font-weight: 800;
        color: rgba(41, 12, 78, 0.8);
    }

    .custom-nav { display: none; }
    .custom-shape-1 svg { height: 7.1rem; }
    .custom-shape-2 svg { height: 6.1rem; }

    .nav-menu { display: none; }

    .mobile-menu {
        padding: 15px 15px 0px;
        display: block;
    }

    .mobile-menu a { float: left; }

    label {
        float: right;
        font-size: 2.3em;
        cursor: pointer;
    }

    #toggle { display: none; }
    
    .menu { 
        position: absolute;
        width: 6rem;
        height: auto;
        display: none; 
        top: 68%;
        right: 7%;
        float: right;
        padding: 5px;
        background-color: #ffffff; }

    .menu a {
        display: block;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 5px;
        color: #7a5dfecc;
    }

    .menu a:hover {
        color: #7B5CFE;
    }

    .mobile-menu a img {
        height: 50px;
        width: auto;
    }

    #toggle:checked + .menu {
        display: block;
    }

    .section-header h1 {
        font-size: 2.3em;
        text-shadow: none;
    }

    .section-header p { font-size: 1.1em; }

    #logo img {
        height: 2rem;
        width: auto;
    }

    .hero-content h1 {
        font-size: 2.4em;
        padding-top: 180px;
        padding-bottom: 0px;
        text-shadow: none;
    }

    .hero-des p {
        font-size: 1.2em;
        font-weight: 500;
    }

    .trial-email { height: 2.4rem; }

    .trial-btn, .message-btn { height: 2.4rem; }

    .features-section { padding-bottom: 80px; }

    .features-promo { padding-top: 70px; }
    
    .feature-content { padding-top: 40px; }

    .feature-card::after { padding: 7px; }

    .feature-des h5 {
        font-weight: 500; 
    }

    .feature-des p {
        font-weight: 400;
    }

    .pricing-section {
        padding-top: 80px;
        padding-bottom: 180px;
    }

    .pricing-card { 
        margin-top: 0px;
        padding: 8px;
    }

    .pricing-details { 
        padding: 30px 20px 20px 20px;
        box-shadow: 0px 0px 40px #00000022; 
    }

    .pricing-details:hover { box-shadow: 0px 0px 20px #00000033; }
    .pricing-details::before { background-color: #15b290; }

    .pricing-2::before { background-color: #1d1d3f; }

    .card-title { 
        font-size: 1.6em;
        color: #ffffff; 
    }

    .pricing-details p {
        font-size: 0.9em;
    }

    .price-list { padding: 5px 0px; }
    .price-list li {
        font-size: 0.9em;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 6px 0px;
    }

    .price-btn { 
        padding: 8px 18px;
        background-color: #15b290; 
    }

    .contactus { padding: 30px; }

    .top-padding { padding-top: 0px; }

    .loaction-map { padding: 0px 10px; }

    .mapouter, #gmap_canvas, .gmap_canvas {
        height: 15rem;
        width: 100%;
    }

    footer {
        padding: 100px 0px 80px 0px;
    }
}