@import url('bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('common.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    list-style-type: none;
    height: 100vh;
}

html { font-size: 16px; }

img {
    width: 100%;
    height: auto;
}


/*----------------main content--------------------*/

.heading span{
    color: #FF725E;
    font-weight: 600;
}

.content{

  background: #f1f1f1;

    box-shadow:  0 0 0 15px #f5f5f5;
   
    

}


.upload{
    height: 400px;
    
    text-transform: uppercase;
    text-shadow: 0 2px 10px #f5d6d2;
    background: radial-gradient(#f5eeed,#facec9);
    border: 2px dashed #fff;
    box-shadow: 0 0 0 10px #f5c6bf, 0 0 0 15px #f5d6d2;
    
}

.upload p{
    color: #fff;
    font-size: 2rem;
}

.btn-primary {
    color: #fff;
    background-color: #FF725E;
    border-color: #FF725E;
    padding: 10px;
    width: 40%;
    transition: 0.3s;
    padding: 15px;
    font-size: 1.5rem;
    
}




.btn-outline-info:hover{
    color: #fff;
    background-color: #ff4e37;
    border-color: #ff4e37;
}



.btn-info:hover{
    color: #fff;
    
    background: linear-gradient(140deg, rgba(248,33,3,1) 0%, rgba(246,51,26,1) 48%, rgba(248,33,3,1) 100%);
    border-color: #FF725E;

}

.btn-primary:hover{
    background-color: #ff4e37;
    border-color: #ff4e37;
}

 .btn-success{
     width: 50%;
     padding: 20px;
     font-size: 1.8rem;
     letter-spacing: 2px;
     font-weight: 500;
    background: #fff;
    color: #FF725E;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
    border: 2px solid #f5f5f5;
    outline: none;
   
}

.btn-success:hover{
    background: #fff;
    border: 2px solid #f5f5f5;
    color: #FF725E;

    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255,255,255,0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
    transition: 0.3s ;

}




.compress-file{
    border: 2px dashed #fff;
}
.compress{
    height: 420px;

    
    
    background: radial-gradient(#f5eeed,#facec9);
  
    box-shadow: 0 0 0 10px #f5c6bf, 0 0 0 15px #f5d6d2;
    
   
}

.drop{
    font-size: 7rem;
}

.drop i{
    color: #fff;
}

.icon{
    display: flex;
    justify-content: center;
    margin-top: auto;
  
}

.icon li a i{
    font-size: 30px;
    color: #fff;
    margin: 10px;
    padding: 10px;
    box-shadow: none;

}

.icon li a i:hover{
    color: #ff4e37;
}

.compress-file{
    height: 290px;
    padding: 20px;
    
}

[class*="col"]{
    padding: 1rem;
   
    color: #000;
    text-align: center;
  }

  [class*="con"]{
    padding: 1rem;
   
    color: #000;
    text-align: center;
  }

section {
    padding: 7rem 0;
    overflow: hidden;
  }


  /*---------------range----------------*/

.range{
    height: 80px;
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
}


.range .sliderValue{
    position: relative;
    width: 100%;
}

.range .sliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
   
    color: #fff;
    font-weight: 500;
    top:-40px;
    transform: translateX(-50%) scale(0);
    transform-origin: buttom;
    transform: transition 0.3s ease-in-out;
    line-height: 55px;
    z-index: 2;
}

.range .sliderValue span.show{
    transform: translateX(-50%) scale(1);
    
}

.range .sliderValue span::after{
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background: #FF725E;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid #fff;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;

}

.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.range .field .value{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #FF725E;
}

.range .field .value.left{
    left:-22px
}

.range .field .value.right{
    right:-43px
}


.range .field input{
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}

.range .field input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #FF725E;
    border-radius: 50%;
    border: 1px solid #FF725E;
    cursor: pointer;
}


/*------------------------- progess----------------*/

.step-bar{
    color: #FF725E;

}

.step-bar h3{
    color: #000;
}

.progess{
    height: auto;
    
    
    margin: 100px auto;
}

.border {
    border: 1px solid #ff4e37!important;
}

.progess img{
    width: 80px;
    margin-bottom: 10px;
    
}

.progess ul{
    text-align: center;
}

.progess ul li{
    display: inline-block;
    width: 200px;
    position: relative;
}



.progess ul li .fa{
    background: #ccc;
    width: 25px;
    height: 27px;
    color: #fff;
    border-radius: 50%;
    padding: 5px;

    
}

.progess ul li .fa::after{
    content: '';
    background: #ccc;
    height: 5px;
    width: 205px;
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
}

ul li:nth-child(3) .fa{
    background: #148e14;
}

ul li:nth-child(3) .fa::after{
    background: #148e14;
}

ul li:nth-child(1) .fa,
ul li:nth-child(2) .fa{

    background: #60aa97;

}

ul li:nth-child(2) .fa::after{
    background: #60aa97;
}

ul li:nth-child(1) .fa::after{
    background: #60aa97;
}

ul li:first-child .fa::after{
    width: 100px;
    left: 105px;
   
}

ul li:last-child .fa::after{
    width: 100px;
}

/*------------------------------question----------------------*/
.wrapper{
    width: 500px;
    margin: 80px auto 0;
    background: #f5f5f5;
}

.wrapper .accordio_wrap .accordio-header{
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 15px;
    color: #FF725E;
    font-weight: 700;
    border-bottom: 2px solid #FF725E ;
    position: relative;
    cursor: pointer;
}

.wrapper .accordio_wrap:first-child .accordio-header{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.wrapper .accordio_wrap:last-child .accordio-header{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid transparent;
}

.wrapper .accordio_wrap .accordio-header:hover{
    color: #ff4e37;
    border-color: #ff4e37;

}

.wrapper .accordio_wrap:last-child .accordio-header:hover{

    border-bottom: 2px solid transparent;

}

.wrapper .accordio_wrap .accordio-header:before,
.wrapper .accordio_wrap .accordio-header:after
{
    content: '';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
    height: 2px;
    background: #FF725E;
}

.wrapper .accordio_wrap .accordio-header:after{
    transform: rotate(90deg);
    transition: all 0.5s ease;
}

.wrapper .accordio_wrap .Accordion_body{

    width: 100%;
    height: 0px;
    transition: all 0.5s ease;
    background: transparent;
   
    overflow: hidden
}

.wrapper .accordio_wrap .Accordion_body p{

    padding: 15px;
    font-size: 15px;
    line-height: 22px;
    color: #000;

}

.wrapper .accordio_wrap .accordio-header.active{
    color: #ff4e37;
    border-color: #ff4e37;

}

.wrapper .accordio_wrap:last-child .accordio-header.active{
    border-bottom: 2px solid  #ff4e37;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.wrapper .accordio_wrap .accordio-header.active:before,
.wrapper .accordio_wrap .accordio-header.active:after{
    background: #FF725E;
}

.wrapper .accordio_wrap .accordio-header.active:after{
    transform: rotate(0);
}

.wrapper .accordio_wrap .accordio-header.active + .Accordion_body{

    height: auto;

}



/* responsive*/


@media (max-width: 850px){

}


@media (max-width: 600px) {

   
   
  }
  
  @media (max-width: 560px) {


  }
  